@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow: -moz-scrollbars-none; /* Hide Scrollbar (Firefox) */
  -ms-overflow-style: none; /* Hide Scrollbar (IE 10+) */
}

/* Hide Scrollbar (Chrome, Safari, newer versions of Opera) */
*::-webkit-scrollbar {
  width: 0 !important;
}

.dp-custom-styles-with-thread-line {
  position: relative;
}
.dp-custom-styles-with-thread-line::after {
  content: '';
  position: absolute;
  top: 3.2rem;
  left: 1.25rem; /* according to the ProfilePicture component's dimensions */
  width: 2px;
  height: 90%;
  background: #d3d3d3;
  pointer-events: none;
}
@media (min-width: 401px) {
  .dp-custom-styles-with-thread-line {
    margin-bottom: 1.5rem;
  }
  .dp-custom-styles-with-thread-line::after {
    left: 1.5rem; /* according to the ProfilePicture component's dimensions */
  }
}
